target
.cache-main
.cache-tests
.worksheet
.*.swp
bin
commit.sh
project/target
src/main/matlab/*.conf
src/main/matlab/Chem.m
src/main/matlab/make-config
src/main/matlab/Config.m
src/main/matlab/+hive/+cfg/TargetCatalog.m
src/main/matlab/+hive/+cfg/TestingCatalog.m
src/main/matlab/+hive/+cfg/TrainingCatalog.m
matlab.mat
