<configuration debug="false">
	<appender name="console-errors" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<!-- encoders are by default assigned the type -->
		<!-- ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%-5level %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="console-info" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- encoders are by default assigned the type -->
		<!-- ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%-4relative %-5level %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="console-debug" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- encoders are by default assigned the type -->
		<!-- ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{40} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="console-trace" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- encoders are by default assigned the type -->
		<!-- ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{40} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="${log-level:-TRACE}">
		<appender-ref ref="console-errors" />
		<appender-ref ref="console-info" />
		<appender-ref ref="console-debug" />
		<appender-ref ref="console-trace" />
	</root>
</configuration>
